#lateralMenu {
    height: calc(100vh - 91px);
    background-color: #020203;
    width: 117px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
}

#lateralIcons img {
    display: block;
    margin-bottom: 20px;
    
}

#lateralCopyright {
    font-family: Roboto;
    color: #FFFFFF;
    font-size: 12px;
    transform: rotate(270deg);
    position: absolute;
    bottom: 100px;
}

@media (max-width: 1780px) {
    #lateralMenu {
        height: 100vh;
    }

    #lateralCopyright {
        bottom: 5px;
    }
}