#lateralMenu {
    height: 100vh;
    background-color: #020203;
    width: 117px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
}

#lateralIcons img {
    display: block;
    margin-bottom: 20px;
    
}

#lateralCopyright {
    font-family: Roboto;
    color: #FFFFFF;
    font-size: 12px;
    position: absolute;
    writing-mode: sideways-lr;
    bottom: 59px;
}
