p {
    margin: 0;
}

#mainContainer {
    position: absolute;
    left: 217px ;
    top: 159px;
    width: 80%;
  }

#chartsAndSummariesContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#chartsContainer {
    height: fit-content;
    margin-right: 31px;
    flex: 1;
}

#summariesContainer {
    width: 258px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#dailyActivityContainer{
    height: 260px;
    margin-bottom: 30px;
}

#averageAndRadarAndScoreContainer{
    height: 350px;
    display: flex;
    gap: 30px;
    justify-content: space-between;

}

#averageChart, #scoreChart, #radarChart{
    width: 350px;
    border-radius: 15px;
}

#averageChart {
    background-color: #FF0000;
}

#radarChart {
    background-color: #282D30;
}

#scoreChart{
    background-color: #FBFBFB;
}

@media (max-width: 1780px) {
    #chartsAndSummariesContainer {
        flex-direction: column-reverse;
    }

    #summariesContainer {
        flex-direction: row;
        flex-wrap: wrap;
        width: 80%;
        justify-content: center;
        gap: 20px;
    }

    .categoryContainer {
        width: 40%;
    }
}

@media (max-width: 1250px) {
    #dailyActivityContainer {
        width: 750px;
    }

    #averageAndRadarAndScoreContainer {
        justify-content: center;
        flex-wrap: wrap;   
    }

    #averageChart, #scoreChart, #radarChart {
        width: 350px;
        height: 350px;
    }
}